controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    # No specific parameters needed for joint_state_broadcaster

arm_controller:
  ros__parameters:
    joints:
      - arm_1_joint
      - arm_2_joint
      - arm_3_joint
      - arm_4_joint
      - arm_5_joint
      - arm_6_joint
      - arm_7_joint

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    state_publish_rate: 50.0
    action_monitor_rate: 20.0

    allow_partial_joints_goal: false
    open_loop_control: false
    allow_integration_in_goal_trajectories: true
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.6
      arm_1_joint:
        trajectory: 0.05
        goal: 0.03
      arm_2_joint:
        trajectory: 0.05
        goal: 0.03
      arm_3_joint:
        trajectory: 0.05
        goal: 0.03
      arm_4_joint:
        trajectory: 0.05
        goal: 0.03
      arm_5_joint:
        trajectory: 0.05
        goal: 0.03
      arm_6_joint:
        trajectory: 0.05
        goal: 0.03
      arm_7_joint:
        trajectory: 0.05
        goal: 0.03
